/*             styles for the star rater                */
.star-rating{
	list-style:none;
	margin: 0px;
	padding:0px;
	width: 180px;
	height: 30px;
	position: relative;
	background: url(img/rateStar01.svg) top left repeat-x;		
}
.star-rating li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:40px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(img/rateStar01.svg) left bottom;
	z-index: 1;
	left: 0px;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:40px;
}
.star-rating a.two-stars{
	left:40px;
}
.star-rating a.two-stars:hover{
	width: 80px;
}
.star-rating a.three-stars:hover{
	width: 120px;
}
.star-rating a.three-stars{
	left: 80px;
}
.star-rating a.four-stars{
	left: 120px;
}	
.star-rating a.four-stars:hover{
	width: 160px;
}
.star-rating a.five-stars{
	left: 160px;
}
.star-rating a.five-stars:hover{
	width: 200px;
}